ACTION=="change", KERNEL=="BAT0", SUBSYSTEM=="power_supply", \
ATTR{status}=="Discharging", IMPORT{program}="/usr/local/bin/xpub.sh", \
RUN+="/usr/bin/su $env{XUSER} -c 'notify-battery-low.sh $attr{capacity}'"
